.e{
    padding: 20px;
    display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  height: 100vh; 
}
body{
 background-image: url(a.jpg);
 background-repeat: repeat;
 background-size: cover;
}
.body{
    outline: 2px solid rgba(250, 219, 46, 0.589);
    border-radius: 20px;
    border:2px solid black;
    padding:20px;
    padding-top: 30px;
    height: auto;
    width: 500px;
    text-align: center;
    align-content: center;
    justify-content: center;
   
    background-color:rgba(255, 231, 196, 0.068)
}
.new {
    margin-left: 250px;
}
#enter {
   background-color: rgba(79, 218, 243, 0.747);
   color: aliceblue;
   font-size: 40px;
   transition: background-color 0.5s ease;
}
#enter:hover{
    background-color: rgb(0, 217, 255);
}
.keys{
    font-size: 20px;
    height: 65px;
    width: 95px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: background-color 0.5s ease;
}
input {
    height: 50px;
    width: 450px;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.63);
}
.k1 {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: background-color 0.5s ease;
}
.keys:hover {
    background-color: rgba(245, 222, 179, 0.938);
}
table{
    margin-left: auto;
    margin-right: auto;
}
#cross{
    background-color: rgb(241, 47, 47);
}
#cross:hover{
    background-color: rgb(153, 2, 2);
}
.k1:hover{
    background-color: rgb(245, 232, 209);
}