.logo{
    border-radius: 50%;
}
body{
    background-image: url('./wp4600617-beautiful-lake-landscape-scenery-wallpapers.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow:scroll;
    margin: 0px;
    font-family: "Delius", sans-serif;
    background:linear-gradient(rgba(255, 255, 255, 0.433)),url(./wp4600617-beautiful-lake-landscape-scenery-wallpapers.jpg);
}
ul li{
    display: inline;
    padding: 10px;
}

#about{
    padding: 30px;
}
.para {
    font-size: 30px;
}
#contacts {
    border-top: 4px solid black;
    padding-right: 20px;
    text-align: right;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: end;
    justify-content: right;
}
.conticon {
    width: 35px;
    height: 35px;
}
.table{
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-top: 0px;
    align-items: end;
    text-align: end;
    justify-content: end;
    width: 100%;
}
.nav{
    display: inline;
    align-items: end;
    justify-content: end;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.urlhome {
    text-decoration: none;
    color: rgb(249, 244, 244);
}
#contacts{
    font-size: 25px;
    text-align: end;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
nav {
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.373);
    color: aliceblue;
    padding: 0px;
    box-shadow: 0 2px 5px rgba(12, 12, 12, 0.374);
    height: auto;
}

.head {
    font-size: 60px;
    color: #ff0000;
    background-position: center;
    background-attachment: scroll;
    text-align: center;
}
.imap{
    padding: 10px;
    transition: height 0.5s ease;
    border-radius: 30px;
}
.places{
    padding: 10px;
    background-color: rgba(215, 219, 218, 0);
}
#ig1:hover{
    height: 300px;
}
#ig2:hover{
    height: 300px;
}
#ig3:hover{
    height: 300px;
}
#ig4:hover{
    height: 300px;
}
#ig5:hover{
    height: 300px;
}
#ig6:hover{
    height: 300px;
}
#ig7:hover{
    height: 300px;
}
#ig8:hover{
    height: 300px;
}
#ig9:hover{
    height: 300px;
}
#ig10:hover{
    height: 300px;
}
.form{
    font-size: 40px;
    text-align: center;
    padding: 100px;
}
.formdiv {
    text-align: center;
}
input {
    text-align: center;
    width:300px;
    height: 30px;
    border-radius: 50px;
    background-color: #00000074;
}
button{
    width:150px;
    height: 30px;
    border-radius: 50px;
}
textarea{
    background-color: #0000009a;
}
.td {
    padding: 0px;
    font-size: 25px;
}
.link{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
 .call-button {
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.places{
    width: 100%;
}
.contac{
    font-size: 25px;
    
}
.cont{
    padding: 50px;
}
.submit{
    font-family: "Delius", sans-serif;
}
.padding{
    padding: 30px;
}